fabric-items/pip_bronze_yellow_taxi_tp.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "LakehouseTableSource"
          },
          "datasetSettings": {
            "type": "LakehouseTable",
            "typeProperties": {
              "table": "system_config_tables"
            },
            "schema": [],
            "linkedService": {
              "name": "lh_taxi_data",
              "properties": {
                "type": "Lakehouse",
                "typeProperties": {
                  "artifactId": "5d902cb1-048a-4e04-a666-59f35760ba8e",
                  "workspaceId": "00000000-0000-0000-0000-000000000000",
                  "rootFolder": "Tables"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "firstRowOnly": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Lookup Files",
        "dependsOn": []
      },
      {
        "type": "ForEach",
        "typeProperties": {
          "batchCount": 8,
          "items": {
            "value": "@activity('Lookup Files').output.value",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "type": "BinarySource",
                  "formatSettings": {
                    "type": "BinaryReadSettings"
                  },
                  "storeSettings": {
                    "type": "HttpReadSettings",
                    "requestMethod": "GET"
                  },
                  "datasetSettings": {
                    "type": "Binary",
                    "typeProperties": {
                      "location": {
                        "type": "HttpServerLocation",
                        "relativeUrl": {
                          "value": "@item().file_name",
                          "type": "Expression"
                        }
                      }
                    },
                    "externalReferences": {
                      "connection": "6a0574e1-9eac-4e95-be68-44578b9e3142"
                    },
                    "annotations": []
                  }
                },
                "sink": {
                  "type": "BinarySink",
                  "storeSettings": {
                    "type": "LakehouseWriteSettings"
                  },
                  "datasetSettings": {
                    "type": "Binary",
                    "typeProperties": {
                      "location": {
                        "type": "LakehouseLocation",
                        "folderPath": {
                          "value": "@concat('bronze/',item().file_folder)",
                          "type": "Expression"
                        },
                        "fileName": {
                          "value": "@item().file_name",
                          "type": "Expression"
                        }
                      }
                    },
                    "linkedService": {
                      "name": "lh_taxi_data",
                      "properties": {
                        "type": "Lakehouse",
                        "typeProperties": {
                          "artifactId": "5d902cb1-048a-4e04-a666-59f35760ba8e",
                          "workspaceId": "00000000-0000-0000-0000-000000000000",
                          "rootFolder": "Files"
                        },
                        "annotations": []
                      }
                    },
                    "annotations": []
                  }
                },
                "enableStaging": false
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Copy data to bronze",
              "dependsOn": []
            },
            {
              "type": "Wait",
              "typeProperties": {
                "waitTimeInSeconds": 1
              },
              "name": "Wait1",
              "dependsOn": [
                {
                  "activity": "Copy data to bronze",
                  "dependencyConditions": [
                    "Failed"
                  ]
                }
              ]
            }
          ]
        },
        "name": "ForEach Files",
        "dependsOn": [
          {
            "activity": "Lookup Files",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ],
    "variables": {
      "errorFiles": {
        "type": "Array"
      }
    }
  }
}